---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

{% include head.html %}

<body class="site">

{% include header.html %}

  {% if page.featured-img %}
  <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{ page.featured-img }}.jpg">
  {% else %}
  <div class="hero dark-bg">
  {% endif %}
    <div class="hero__wrap">
      {% if post.categories or page.categories %}
        <div class="hero__categories">
          {% if post %}
            {% assign categories = post.categories %}
          {% else %}
            {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
            <a class="label" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
            {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </div>
      {% endif %}
      <h1 class="hero__title">{{ page.title }}</h1>
    </div>
  </div>

  <main class="site__content">
    <div class="container">
      <article class="post-content" itemprop="articleBody">

        {{ content }}
      </article>
    </div>

    {% if site.disqus.shortname %}

    <div class="comments">
      <div class="container">
        <div class="post-content">

          {% include disqus.html %}

        </div>
      </div>
    </div>

    {% endif %}

  </main>

  {% include footer.html %}
  {% include mathjax.html %}
</body>

</html>
